<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleIdentifier</key>
	<string>fr.bdesgraupes.aete2sdef</string>
	<key>CFBundleName</key>
	<string>Aete2sdef</string>
	<key>CFBundleShortVersionString</key>
	<string>Aete2sdef 1.1</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>AE2S</string>
	<key>CFBundleExecutable</key>
	<string>Aete2sdef</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Aete2sdefHelp</string>
	<key>CFBundleHelpBookName</key>
	<string>Aete2sdef Help</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>LSRequiresCarbon</key>
	<true/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Rezilla Resource File</string>
			<key>CFBundleTypeIconFile</key>
			<string>RezillaDocs.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>RSRC</string>
				<string>****</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rsrc</string>
				<string>*</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
